@model IEnumerable<FinalProject.Models.MISSION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create", "creer une mission")
<h4>votre mission a été crée avec succes .</h4>
<h5>En attente de response </h5>
